@using RedakcniSystem.Data
@inject GalleryService gallery
@page "/album/{name}"

<h3>@Name</h3>
<div class="row">
    <div class="col-6">
        <img src="@currentImage" style="height: 600px !important; width: auto;" />
    </div>
</div>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2 mt-2" role="group" aria-label="First group">
        @foreach (var image in images)
        {
           <button type="button" class="btn btn-outline-secondary" @onclick="() => { GetImage(image); }">@(GetPositionOfImg(image))</button>
        }
    </div>
</div>

@code {
    [Parameter]
    public string Name { get; set; }
    List<string> images = new List<string>();
    public string currentImage = string.Empty;
    protected override void OnInitialized()
    {
        images = gallery.GetImages(this.Name);
        if(images.Count > 0)
            currentImage = images[0];
    }
    public int GetPositionOfImg(string img)
    {
        for (int i = 0; i < images.Count; i++)
        {
            if (images[i] == img)
            {
                return i;
            }
            else
                continue;
        }
        return 0;
    }
    public EventCallback GetImage(string img)
    {
        currentImage = img;
        this.StateHasChanged();
        return new EventCallback();
    }

}
