@page "/addarticle"
@using RedakcniSystem.Data;
@using RedakcniSystem.Controllers;
@inject ArticleService articleService
@inject NavigationManager nav
@inject GalleryService galleryService
@inject MailController mailController 

<AuthorizeView Roles="admin, redactor">
    <Authorized>
        <h3>New article</h3>

        <div style="max-width: 690px">
            <div class="form-group">
                <label for="">Title</label>
                <input name="titleInput" @bind="article.Title" class="form-control" />
            </div>
            <div class="form-group">
                <label>Author</label>
                <input name="authorInput" @bind="article.Author" class="form-control" />
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea name="contentInput" @bind="article.Content" class="form-control" rows="6"></textarea>
            </div>
            <div class="form-group">
                <label>Image url</label>
                <input name="imageUrlInput" @bind="article.ImageUrl" class="form-control" />
            </div>
            <div class="form-group">
                <label>Album</label>
                <select class="form-select" @bind="article.AlbumName" aria-label="Default select example">
                    <option selected>None</option>
                    @foreach (var album in galleryService.GetAlbums())
                    {
                        <option value="@album.Name">@album.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Tags (divide them by comma)</label>
                <input name="tagsInput" @bind="article.Tags" class="form-control" />
            </div>
            <button class="btn btn-primary" @onclick="(e) => { CreateArticle(); }">Create</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Access denied</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    Article article = new Article();


    public EventCallback CreateArticle()
    {
        if (article.Title != null && article.Content != null && article.Author != null)
        {
            articleService.AddArticle(article);
            mailController.Email(article);
            nav.NavigateTo("/");
        }

        return new EventCallback();
    }
}
