@page "/site/{siteid:int}"
@using RedakcniSystem.Data;
@inject NavigationManager nav
@inject CustomSiteService customSiteService
 
<h3>@Site.Title</h3>

@((MarkupString)Site.Html)

@code {
    [Parameter]
    public int SiteId { get; set; }
    public CustomSite Site { get; set; }

    protected override void OnInitialized()
    {
        Site = customSiteService.GetSite(SiteId);
    }
}
